.title{
    background-color: red;
    text-align: center;
 
}
.body{
    color: red;
    text-align: center;
}
.box{
    border: 2px solid rgb(123, 123, 244);
    margin: 10px;
    width: 500px;
    height: 200px;
    padding: 10px;
}